
html, body {
    padding: 0;
    margin: 0 auto;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

header {
    width: 100%;
    height: 80px;
    background-color: #353b48;
    line-height: 70px;
    color: #f5f6fa;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

header ul {
    display: inline;
    float: right;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

header li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

header ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
}

header > .title {
    display: inline-block;
    float: left;
    padding: 0 20px;
}


.tickets-container-list, .tickets-list {
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    user-select: none;
    text-align: center;
}

.tickets-container-list > li {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 0 auto;
}

.tickets-container-list > li > .title {
    display: inline-block;
    font-weight: 400;
    padding: 20px 0;
    width: 100%;
    border-radius: 3px;
    background-color: #353b48;
    color: white;
}

.ticket {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    height: 120px;
    user-select: all;
}

.ticket .title {
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.ticket .description {
    max-height: 100px;
    overflow-y: scroll;
    text-align: left;
    padding: 10px;
    font-size: 80%;
}

.ticket.open {
    border-top: 5px solid mediumseagreen;
}

.ticket.working {
    border-top: 5px solid darkorange;
}

.ticket.closed {
    border-top: 5px solid cornflowerblue;
}

.tickets-container-list > li > .title.open {
    background-color: mediumseagreen;
}

.tickets-container-list > li > .title.working {
    background-color: darkorange;
}

.tickets-container-list > li > .title.closed {
    background-color: cornflowerblue;
}


.ticket:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.ticket .hint {
    user-select: none;
    text-transform: uppercase;
    pointer-events: none;
    position: absolute;
    right: 10px;
    bottom: 0;
    height: 23px;
    line-height: 23px;
    font-size: 60%;
    opacity: 0.7;
}

.ticket select {
    position: absolute;
    left: 0;
    right: 0;
    height: 25px;
    bottom: 0;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 5px;
    width: 100%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

input, textarea {
    box-sizing: border-box;
    outline: none;
    appearance: none;
    border: 1px solid rgba(0,0,0, 0.1);
}

#search-field {
    width: 100%;
    padding: 10px;
    margin: 20px auto 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 810px;
}

.container > ul {
    list-style: none;
    margin: 20px auto;
    padding: 0;
    text-align: left;
}

.container > ul > li {
    user-select: none;
    display: inline-block;
    cursor: pointer;
    width: 90px;
    background-color: #353b48;
    color: white;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    transition: 0.3s all ease-in-out;
}

.container > ul > li:hover {
    opacity: 0.8;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease-in-out;
    display: none;
}

#overlay form {
    padding: 20px;
    border: 3px solid #7f8fa6;
    background-color: white;
    border-radius: 3px;
    width: 90%;
    max-width: 300px;
    height: 200px;
    margin: calc(50vh - 100px) auto 0;
    box-shadow: 0 0 5px 3px rgba(0,0,0, 0.05);
}

#overlay form ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

#overlay textarea, #overlay input {
    width: 80%;
    padding: 10px;
    margin: 5px auto;
    resize: none;
    border: 1px solid rgba(0,0,0, 0.05)
}

#overlay span {
    display: inline-block;
    width: 80px;
    font-size: 70%;
    padding: 5px;
    margin: 0 5px;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

#overlay span:hover {
    opacity: 0.8;
}

#overlay #cancel {
    background-color: #dcdde1;
}

#overlay #create {
    background-color: #00a8ff;
}

#overlay input {
    font-weight: bold;
}

#overlay textarea {
    height: 130px;
}